body {
  margin: 0;
}
header {
  padding: 1rem;
  border-bottom: 1px solid black;
  font-size: 28px;
}
header a {
  color: inherit;
  text-decoration: none;
}
header .icon {
  vertical-align: text-bottom;
  height: 32px;
}
#content {
  margin: 1rem 0rem;
  padding: 0 0.44rem;
  display: flow-root;
}

footer {
  background-color: lightgray;
  text-align: center;
  padding: 0.44rem;
}
