header {
  padding: 1rem;
  border-bottom: 1px solid black;
  font-size: 23px;
}
header a {
  color: inherit;
  text-decoration: none;
}
#content {
  margin: 2rem 0rem;
  padding: 0 1rem;
  display: flow-root;
}

footer {
  padding: 0.44rem;
}
